* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* tela 1 */
#start {
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* tela 2 */
#main {
  display: none;
  min-height: 200vh;
  background: white;
  text-align: center;
  padding-top: 50px;
}

video {
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  display: block;
}