* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* ===== TELA 1 ===== */
#start {
  height: 100vh;
  background: linear-gradient(135deg, #ffb6d5, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.start-title {
  font-family: 'Great Vibes', cursive;
  font-size: 4.8rem;
  color: #ff6fae;
  letter-spacing: 3px;
  text-shadow:
    0 4px 10px rgba(255, 111, 174, 0.35),
    0 0 30px rgba(255, 182, 213, 0.6);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

/* ===== TELA 2 ===== */
#main {
  display: none;
  min-height: 260vh;
  background: linear-gradient(180deg, #ffffff, #fde4ef);
  text-align: center;
  padding-top: 40px;
  position: relative;
}

.birthday {
  font-family: 'Great Vibes', cursive;
  font-size: 3.6rem;
  color: #ff6fae;
  margin-bottom: 20px;
}

video {
  width: 90%;
  max-width: 520px;
  margin: 20px auto 60px;
  display: block;
  border-radius: 20px;
  will-change: transform;
}

/* TEXTOS */
.text {
  font-size: 1.3rem;
  color: #5a3a66;
  margin: 120px 20px;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.text.show {
  opacity: 1;
  transform: translateY(0);
}

/* ANIMES */
.anime {
  position: absolute;
  z-index: 10;
  width: 160px;
  opacity: 0;
  transform: translateY(40px);
  transition: 1s ease;
}

.anime.left {
  left: -60px;
  top: 400px;
}

.anime.right {
  right: -10px;
  top: 100px; /* AGORA TÁ NO LUGAR CERTO */
}

.anime.show {
  opacity: 1;
  transform: translateY(0);
}

.fancy-text {
  font-family: 'Great Vibes', cursive;
  font-size: 3.2rem;
  color: #ff6fae;
  text-align: center;
  margin: 120px 20px;
  letter-spacing: 2px;
  text-shadow:
    0 4px 10px rgba(255, 111, 174, 0.35),
    0 0 25px rgba(255, 182, 213, 0.6);
  animation: softFloat 3s ease-in-out infinite;
}

@keyframes softFloat {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}