* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #fff;
  color: #000;
}

/* TELA 1 */
#intro {
  height: 100vh;
  background: #f7b7d2; /* rosa BB */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#intro h1 {
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 300;
}

/* TELA 2 */
#main {
  display: none;
  min-height: 200vh;
  background: #fff;
}

#main.show {
  display: block;
}

/* vídeo */
#video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* conteúdo */
.content {
  padding: 80px 20px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
  margin-bottom: 40px;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}